*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #333;
}

.box {
  display: block;

  background: indianred;
  width: 300px;
  height: 300px;
  margin: 30px;
 
  animation: anso 2s infinite alternate-reverse ease-out;
  position: absolute;
}
.error {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: red;
  border: 1px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 150px;
  height: auto;
  
  text-align: center;
  padding: 5px;
  border: 6px solid yellowgreen;
  border-radius: 10px;
  opacity: 0.4;
}
.button:hover {
  
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 1;
  font-size: 1.5em;
  border-radius:20px ;
  width: 170px;
 background: rgb(238, 238, 89); 
 
  
}
a {
  color: wheat;
  text-decoration: none;
}
a:hover {
  cursor: zoom-out;
  color: #333;
}
a::after {
  content: url(img/favicon.ico);
  padding-left: 8px;
}


@keyframes anso {
  0% {
    left: 0;
    top: 0;
    background: indianred;
  }
  50% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    background: lawngreen;
  }
  60% {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: lightseagreen;
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    background: violet;
    width: 200px;
    height: 200px;
    border-radius: 30%;
  }
  
}
